.list {
  margin-top: 20vh;
}

.list h2 {
  border-bottom: 1px solid var(--button-primary-hover);
  padding-bottom: 20px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
}