.wizard {
  margin-top: 5vh;
}

.wizard h1 {
  margin-bottom: 40px;
}

.button-row {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.button-row button {
  height: 30px;
  width: 45px;
  border-radius: 5px;
}
