.composer {
  margin-top: 20vh;
  margin-bottom: 40px;
}

.composer h2 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.composer h4 {
  margin-top: 20px;
}

.editor {
  margin-top: 20px;
  min-height: 70vh;
  width: 100%;
  font-size: 1.5em;
  field-sizing: content;
  background-color: lightgray;
}

@media (width < 1280px) {
  .editor {
    font-size: 1.25em;
  }
}