.composer {
  margin-top: 20vh;
  margin-bottom: 40px;
}

.composer h2 {
  border-bottom: 1px solid var(--button-primary-hover);
  padding-bottom: 20px;
}

.editor {
  margin-top: 40px;
  min-height: 70vh;
  width: 100%;
  font-size: 1.5em;
  field-sizing: content;
}

@media (width < 1280px) {
  .editor {
    font-size: 1.25em;
  }
}